.recipe-title {
  @screen xl {
    font-size: 10rem;
    line-height: 13rem;
  }
  font-weight: 600;
  font-size: 5rem;
  line-height: 4rem;
  letter-spacing: 2px;
  -webkit-text-stroke-width: 3px;
  -webkit-text-fill-color: transparent;
  @screen lg {
    -webkit-text-stroke-width: 5px;
  }
}

.is-headline-title {
  @screen xl {
    font-size: 7rem;
    line-height: 7rem;
  }
}

.swiper-slide-active {
  opacity: 1;
}

.may-have-bold {
  strong, b {
    font-weight: 600;
  }
}

.quote {
  position: relative;

  &:before, &:after {
    z-index: -1;
    content: '';
    width: 32px;
    height: 32px;
    opacity: 0.5;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('../images/quote.png');
  }

  &:before {
    top: -8px;
    left: -8px;
  }

  &:after {
    bottom: -8px;
    right: -8px;
    transform: rotate(180deg);
  }
}

.title-h2 {
  @screen lg {
    font-size: 48px;
    line-height: 48px;
  }
  font-size: 32px;
  font-weight: bold;
  line-height: 32px;
  letter-spacing: 1px;
}

.font-arial {
  font-family: 'Arial Black', sans-serif;
}
