/languages
mu-plugins
plugins/*
/upgrade
/uploads
/wordpress
/cache
/wp-rocket-config
/advanced-cache.php
/conf

!themes/wordplate/assets/fonts/vendor
!themes/wordplate/assets/images/vendor

!plugins/index.php
!plugins/advanced-custom-fields-pro
!plugins/wp-migrate-db-pro
!plugins/wp-migrate-db-pro-media-files
