{% set classTitle = fields.title_type == "h1" ? "recipe-title uppercase" : "title-h2" %}

<div class="headline" id="{{ fields.anchor }}">
  <div class="container">
    <div class="flex">
      <div class="lg:w-8/12 mx-auto text-center">
        <div class="{{ classTitle }} text-orange mb-8">{{ fields.title }}</div>
        {% if fields.content %}
          <div>{{ fields.content }}</div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
