<div class="block-map" id="{{ fields.anchor }}">
  <div class="container">
    <div class="flex">
      <div class="lg:w-8/12 mx-auto">
        <div id="kooks-map">
          <map-component :locations="{{ jsonToProp(locations) }}"></map-component>
        </div>
      </div>
    </div>
  </div>
</div>
