<div class="block-map" id="{{ fields.anchor }}">
  <div class="container">
    {% if is_admin() %}
      <div class="bg-orange-light flex flex-col p-8 items-center justify-center">
        <div>BLOC DE CARTE</div>
        <div>Vous pouvez modifier les points de vente en vous rendant dans l'onglet Points de Ventes</div>
      </div>
    {% else %}
      <div class="lg:w-10/12">
        <h2 class="text-orange uppercase text-2xl lg:text-3xl mb-4 w-1/2">{{ fields.title }}</h2>
        <div class="content text-dark-grey">{{ fields.text }}</div>
      </div>
      <div class="flex">
        <div class="mx-auto w-full">
          <div id="kooks-map">
            <map-component :locations="{{ jsonToProp(locations) }}"></map-component>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
</div>
