<div class="block-small-banner hidden md:block" id="{{ fields.anchor }}">
  <div class="container">
    <div style="background-image: url({{ fields.banner.url }}); height: {{ fields.height }}px"
         class="{{ fields.bg_size }} bg-center bg-no-repeat w-full h-full"></div>
  </div>
</div>
