<div class="block-contact" id="{{ fields.anchor }}">
  <div class="container">
    <div class="flex">
      <div class="lg:w-8/12 mx-auto">
        {{ do_shortcode(fields.form_shortcode) }}
      </div>
    </div>
  </div>
</div>
