{% extends "base.twig" %}

{% block content %}
  <div class="container h-96">
    <div class="text-center p-10">
      <div class="title-h4 p-5">
        Erreur 404 Page non trouvée
      </div>
      <div><i class="interiale-icon-transport_fusee text-5xl text-grey-back p-5"></i></div>
      <div class="my-2"><a href="{{ site.url }}" class="btn btn-secondary plain-purple">Retour à la
          page d'accueil</a></div>
    </div>
  </div>
{% endblock %}
