{% block html_head_container %}

  {% include 'html-header.twig' %}
  {% block head %}
  {% endblock %}
  </head>
{% endblock %}

<body class="{{ body_class }}" data-template="base.twig">
{{ body_scripts() }}
{% include 'header.twig' %}

<div id="app">
  {% block content %}{% endblock %}

  {% block footer %}
    <footer id="footer">
      {% include 'footer.twig' %}
    </footer>
    {{ function('wp_footer') }}
  {% endblock %}

</div>
</body>
</html>
