/* TAILWIND */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;


body, html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Varela Round', sans-serif;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

//#main {
//  top: 0;
//  left: 0;
//  z-index: 2;
//  width: 100%;
//  position: fixed;
//  overflow: hidden;
//}


@import "config/config";
@import "blocks/blocks";
