.block-product {
  .product-image {
    width: auto;
    max-height: 450px;

    img {
      filter: drop-shadow(-10px 10px 12px rgba(#292929, 0.3));
    }
  }

  .content-mobile {
    height: 0;
    opacity: 0;
    transition: .2s ease-in-out;

    &.is-opened {
      opacity: 1;
      height: 100%;
      transition: .2s ease-in-out;
    }
  }
}
