.block-header {
  .content {
    height: 80vh;

    .title-forward {
      color: transparent;
      -webkit-text-stroke-color: theme('colors.accent-blue');
      -webkit-text-stroke-width: 2px;
    }

    .header-image {
      top: 0;
      width: auto;
    }

    .redirect {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
