.block-product {
  .product-image {
    filter: drop-shadow(-10px 10px 12px rgba(#292929, 0.3));
  }

  .recipe-title {
    font-size: 6rem !important;
    line-height: 5rem !important;
  }
}

.details {
  .banner {
    height: 70%;
  }
}
